* {
  margin :0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Poppins', sans-serif;
  overflow: scroll;
  max-width: 100%;
  background: #FAFAFA;
}

body::-webkit-scrollbar {
  width: 15px;
  border: 0.2px solid #E1E1E1;
    padding: 2px;
}

body::-webkit-scrollbar-track {
  background: transparent;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #AAA;/* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 3px solid #FAFAFA; /* creates padding around scroll thumb */
}


/* Header */
header {
  background-color: #FAFAFA;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Poppins', sans-serif;
  color: #373E98;
}

ul {
    list-style-type: none;
    display: inline-block;
}

.myname > a {
  margin: 0;
  padding: 0;
  background-color:transparent;
  display: inline-block;
  font-weight: 500;
  color: #3063ff;
  text-decoration: none;
}
.myname > a:hover {
  opacity: 20%;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  float: right;
}

.nav > li {
  font-size: 16px;
}

.nav > li > a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #3063ff;
}

.nav > li > a:hover {
  opacity:20%;
}

.hamburger {
    background-color: transparent;
    border:0;
    color: #3063ff;
    cursor: pointer;
    font-size: 18px;
    display:none;
    padding-top:0px;
}

.hamburger:focus {
    outline: none;
}


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3063ff;
  opacity: 90%;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.overlay a {
  padding: 30px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
  align-content: center;
}

.overlay a:hover, .overlay a:focus {
  opacity: 20%;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 30px;
}


/* Section */
section {
    background-color: transparent;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

  @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }




.intro {
  float: left;
  padding: 100px 50px 40px 50px;
  width: 100%;
}


#intro-content {
    width: 100%;
    padding-top: 30px;
}
.intro .intro-text {
    font-weight: 700;
    font-size: 50px;
    color: #333;
}

.intro-text a {
    color: #333;
}

.intro-text a:hover {
    color: #3063ff;
}



/* Footer */
footer {
    width: 100%;
    height:100px;
}

.social-media {
    text-align:center;
}

.social-media .row  {
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:#3063ff;
    font-size:25px;
    
}

.row a{
    text-decoration:none;
    color:#3063ff;
    opacity: 100%;
    transition:0.5s;
    padding: 30px;
}

.row a:hover {
    opacity:1;
}

.social-media h6 {
    font-weight: 200;
    color:#3063ff;
    padding: 10px;
    font-size: 10px;
    opacity: 50%;
}





/* MQ */
@media screen and (min-width: 0px) and (max-width: 480px){
    header {
        width:100%;
        height: auto;
        padding-left: 20px;
        padding-right:20px
    }
    
    .myname a{
        font-size: 20px;
    }
    
    .nav {
        width: 100%;
        height: auto;
    }
    
    .nav li{
        display: block;
        text-align: center;
        display:none;
    }
    
    .hamburger {
        display: block;
        float: right;
        padding-top:5px;
    }
    
  
    section {
        height:auto;
    }
    
    section .intro {
    width: 100%;
    height: auto;
    padding-top: 280px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 280px;
    }
    
    
    #intro-content {
        padding-top: 10px;
    }
    .intro .intro-text {
        font-size: 20px;
    }


    footer {
        height: auto;
        display: inline-block;
    }
    
    .social-media .row  {
    width:100%;
    margin:3% 0%;
    padding:0.6% 0%;
    color:#373E98;
    font-size:18px;
    
    }

    .row a{
    text-decoration:none;
    color:#373E98;
    opacity: 100%;
    transition:0.5s;
    padding:20px;
    }
    
    .row a:hover {
        opacity:1;
    }
    
    .social-media h6 {
        font-size: 8px;
    }
   
}

   
  

  

   





@media screen and (min-width: 481px) and (max-width: 768px) {
    
    .myname a{
        font-size:30px;
    }
    
      header {
        width:100%;
        height: auto;
        padding-left: 20px;
        padding-right:20px
    }
    
    .myname a{
        font-size: 20px;
    }
    
    .nav {
        width: 100%;
        height: auto;
    }
    
    .nav li{
        display: block;
        text-align: center;
        display:none;
    }
    
    .hamburger {
        display: block;
        float: right;
        padding-top:5px;
    }
    
    section {
        height:auto;
    }

    section .intro {
    width: 100%;
    height: auto;
    padding-top: 250px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 250px;
    }
    
    .intro .intro-text {
        font-size: 40px;
    }
    
     .intro .first-text {
        font-size: 40px;
    }
    
     .intro .sec-text {
        font-size: 40px;
    }
     
    footer {
        height: auto;
        display: inline-block;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .myname a{
        font-size:30px;
    }
    
    .nav li{
        display: inline-block;
    }
    
    .overlay {
        display:none;
    }
    
    section {
        height:auto;
    }
    
    section .intro {
    width: 100%;
    height: auto;
    padding-top: 280px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 280px;
    }
    
    .intro .intro-text {
        font-size: 50px;
    }
    
     .intro .first-text {
        font-size: 50px;
    }
    
     .intro .sec-text {
        font-size: 50px;
    }
    
    .intro .values{
        font-size: 40px;
    }
    
    .intro .value_detail {
        font-size: 30px;
    }
    
    .scroll-downs {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display:inline-block;
        position:relative;
        top: -30px;
        left: 50px;
        width :34px;
        height: 55px;
    }
    
     .scroll-text{
        font-size: 20px;
    }
    
     .column h2 {
    color:#373E98;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
}

.column p {
    color: #373E98;
    font-weight: 300;
    opacity: 50%;
    font-size: 13px;
}
    
    footer {
        height: auto;
        display: inline-block;
    }
    
}
    
@media screen and (min-width: 1025px) {
    .myname a{
        font-size:30px;
    }
    
    .nav li{
        display: inline-block;
    }
    
    .overlay {
        display:none;
    }
    
    section {
        height:auto;
    }
    
    section .intro {
    width: 100%;
    height: auto;
    padding-top: 280px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 280px;
    }
    
    .intro .intro-text {
        font-size: 50px;
    }
    
     .intro .first-text {
        font-size: 50px;
    }
    
     .intro .sec-text {
        font-size: 50px;
    }
    
    .intro .values{
        font-size: 40px;
    }
    
    .intro .value_detail {
        font-size: 30px;
    }
    
    .scroll-downs {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display:inline-block;
        position:relative;
        top: -30px;
        left: 50px;
        width :34px;
        height: 55px;
    }
    
     .scroll-text{
        font-size: 20px;
    }
    
     .column h2 {
    color:#373E98;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
}

.column p {
    color: #373E98;
    font-weight: 300;
    opacity: 50%;
    font-size: 13px;
}
    
    footer {
        height: auto;
        display: inline-block;
    }
    
}   

@media screen and (max-height: 450px) {
  .overlay {
      overflow-y: auto;
    }
  .overlay a {
      font-size: 20px
    }
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}