* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  
  body {
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
    max-width: 100%;
    background: #FAFAFA;
  }
  
  body::-webkit-scrollbar {
    width: 15px;
    border: 0.2px solid #E1E1E1;
      padding: 2px;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
      /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #888888;/* color of the scroll thumb */
    border-radius: 10px; /* roundness of the scroll thumb */
    border: 3px solid #FAFAFA; /* creates padding around scroll thumb */
  }
  
  
  
  
  /* Header */
  header {
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    color: #0E1111;
  }
  
  .heading,
  .heading * {
    box-sizing: border-box;
  }
  .heading {
    padding: 30px 35px 30px 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
  }
  .logoname {
    display: flex;
    flex-direction: row;
    gap: 23px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    text-decoration: none;
  }
  
  
  
  .logo {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: visible;
  }
  .kaline-yoo {
    color: #0E1111;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    width: 173px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    gap: 96px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    text-decoration: none;
    color:#0E1111;
  }
  
  
  .work {
    color: #0E1111;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    width: 60px;
  }
  
  .work:hover{
      opacity:50%;
  }
  
  .about {
    color: #0E1111;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    width: 66px;
  }
  
  .about:hover{
      opacity:50%;
  }
  
  
  .contact {
    color: #0E1111;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    width: 96px;
  }
  
  .contact:hover{
      opacity:50%;
  }
  
  .hamburger {
      background-color: transparent;
      border:0;
      color: #0E1111;
      cursor: pointer;
      font-size: 18px;
      display:none;
      padding-top:0px;
  }
  
  .hamburger:focus {
      outline: none;
  }
  
  
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0E1111;
    opacity: 90%;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
  }
  
  .overlay a {
    padding: 30px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
    align-content: center;
  }
  
  .overlay a:hover, .overlay a:focus {
    opacity: 20%;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 18px;
    font-size: 30px;
  }
  
  
  /* Section */
  section {
      background-color: transparent;
      animation: fadeInAnimation ease 1.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      height: auto;
      font-family: 'Poppins', sans-serif;
      padding:35px;
  }
  
    @keyframes fadeInAnimation {
              0% {
                  opacity: 0;
              }
              100% {
                  opacity: 1;
              }
          }
  
  
  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #7644db;
    opacity: 50%;
    color: white;
    cursor: pointer;
    padding:20px;
    border-radius: 20%;
  }
  
  #myBtn:hover {
      opacity:1;
      transition: all 0.2s ease-in;
  }
  
  
  
   .intro,
  .intro * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .intro {
    border-radius: 45px;
    border-style: solid;
    border-color: #0e1111;
    border-width: 1px;
    padding: 40px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    flex-shrink: 0;
    height: 446px;
    width: 58%;
    position: relative;
    float:left;
  }
  .intro-content {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 126px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
  }
  .intro-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 80%;
  }
  .hello {
    color: #0e1111;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
  }
  .description {
    color: #0e1111;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
  }
  .social {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .email {
    background: #7644db;
    border-radius: var(--corner-full, 1000px);
    border-style: solid;
    border-color: #7644db;
    border-width: 2px;
    padding: 15px 10px 15px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 221px;
    height: 60px;
    position: relative;
  }
  
  .email:hover {
      opacity: 50%;
  }
  
  .let-s-talk {
    color: #ffffff;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
  }
  
  
  .linkedin {
    border-radius: 30px;
    border-style: solid;
    border-color: #7644db;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    position: relative;
    font-size: 24px;
    color: #7644db;
  }
  
  .linkedin:hover {
      background-color: #0077B5;
      border-color: #0077B5;
      color: #ffffff;
  }
  
  .instagram {
      border-radius: 30px;
      border-style: solid;
      border-color: #7644db;
      border-width: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      position: relative;
      font-size: 24px;
      color: #7644db;
  }
  
  .instagram:hover {
      background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
      border-color: #833ab4;
      color:#ffffff;
  }
  
  .profile {
      border-radius: 45px;
      border-style: solid;
      border-color: #0e1111;
      border-width: 1px;
      background-color: #83F9B6;
      display: flex;
      align-items: left;
      justify-content: center;
      flex-shrink: 0;
      height: 446px;
      width: 40%;
      float: right;
  }
  
  .profile img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
  
  .availability,
  .availability * {
    box-sizing: border-box;
  }
  .availability {
    border-radius: 45px;
    border-style: solid;
    border-color: #0e1111;
    border-width: 1px;
    padding: 24px 50px 24px 50px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 25%;
    height: auto;
    position: relative;
    margin-top: 30px;
    float: left;
  }
  .status {
    display: flex;
    flex-direction: row;
    gap: 31px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width:100%;
  }
  .circle {
    background: #83f9b6;
    border-radius: 50%;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    filter: blur(5px);
  }
  .open {
    color: #0e1111;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
  }
  
  .experience,
  .experience * {
    box-sizing: border-box;
  }
  .experience {
    border-radius: 45px;
    border-style: solid;
    border-color: #0e1111;
    border-width: 1px;
    padding: 24px 35px 24px 35px;
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: left;
    justify-content: left;
    flex-shrink: 0;
    width: 74%;
    height: auto;
    position: relative;
    float: right;
    margin-top: 30px;
  }
  .experience-text {
    color: #0e1111;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    text-decoration-color: #0E1111;
  }
  
  .experience-text > a{
      text-decoration: underline;
      color: inherit;
  }
  
  .experience-text {
      color: #0e1111;
      text-align: left;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 500;
      position: relative;
      text-decoration: none;
      text-decoration-color: #0E1111;
  }
  
  .experience-text > a:hover {
      color: #7644db;
  }
  
  .toaster-card {
      display: grid;
      width:49.5%;
      float:left;
      margin-top: 30px;
  }
  .toaster-card .card-item {
      background: #fff;
      border-radius: 45px;
      list-style: none;
      cursor: pointer;
      text-decoration: none;
      border: 1px solid #0E1111;
      transition: border 0.2s ease;
  }
  .toaster-card .card-item:hover {
      background-color: #83F9B6;
      transition: 0.2s ease;
  }
  .toaster-card .card-item img {
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 45px 45px 0px 0px;
      object-fit: cover;
      padding:0px;
      border-bottom:1px solid #0e1111;
  }
  
  .card-content {
      flex-direction: row;
      width:60%;
      float: left;
  }
  
  .toaster-card span {
      display: inline-block;
      font-size: 24px;
      font-weight: 600;
  }
  .toaster-card .toaster {
      color: #0E1111;
  }   
  
  .toaster-card .bowl{
      color: #0E1111;
  }
  
  .toaster-card h3 {
      color: #000;
      font-size: 16px;
      margin-top: 14px;
      font-weight: 300;
      display:flex;
  }
  .toaster-card .arrow {
      display: flex;
      flex-direction: column;
      float:right;
      width:49%;
      align-items: center;
      justify-content: center;
     
      height: 40px;
      width: 40px;
      color: #000;
      border: 1px solid #000;
      border-radius: 50%;
      transition: 0.2s ease;
      position:relative;
      margin:55px 35px 55px 0px;
  }
  .toaster-card .card-item:hover .arrow  {
      background: #000;
      color: #fff; 
      transform: rotate(-35deg);
      transition: 0.2s ease;
  }
  
  .sloddy-card {
      display: grid;
      width:49.5%;
      float:right;
      margin-top: 30px;
  }
  .sloddy-card .card-item {
      background: #fff;
      border-radius: 45px;
      list-style: none;
      cursor: pointer;
      text-decoration: none;
      border: 1px solid #0E1111;
      transition: border 0.2s ease;
  }
  .sloddy-card .card-item:hover {
      background-color: #83F9B6;
      transition: 0.2s ease;
  }
  .sloddy-card .card-item img {
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 45px 45px 0px 0px;
      object-fit: cover;
      padding:0px;
      border-bottom:1px solid #0e1111;
  }
  
  .card-content {
      padding:35px;
      flex-direction: row;
      width:60%;
      float: left;
  }
  
  .sloddy-card span {
      display: inline-block;
      font-size: 24px;
      font-weight: 600;
  }
  .sloddy-card .toaster {
      color: #0E1111;
  }   
  
  .sloddy-card .bowl{
      color: #0E1111;
  }
  
  .sloddy-card h3 {
      color: #000;
      font-size: 16px;
      margin-top: 14px;
      font-weight: 300;
      display:flex;
  }
  .sloddy-card .arrow {
      display: flex;
      flex-direction: column;
      float:right;
      width:50%;
      align-items: center;
      justify-content: center;
     
      height: 40px;
      width: 40px;
      color: #000;
      border: 1px solid #000;
      border-radius: 50%;
      transition: 0.2s ease;
      position:relative;
      margin:55px 35px 55px 0px;
  }
  .sloddy-card .card-item:hover .arrow  {
      background: #000;
      color: #fff; 
      transform: rotate(-35deg);
      transition: 0.2s ease;
  }
  
  .vigo-card {
      display: grid;
      width:49.5%;
      float:left;
      margin-top: 30px;
  }
  .vigo-card .card-item {
      background: #fff;
      border-radius: 45px;
      list-style: none;
      cursor: pointer;
      text-decoration: none;
      border: 1px solid #0E1111;
      transition: border 0.2s ease;
  }
  .vigo-card .card-item:hover {
      background-color: #83F9B6;
      transition: 0.2s ease;
  }
  .vigo-card .card-item img {
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 45px 45px 0px 0px;
      object-fit: cover;
      padding:0px;
      border-bottom:1px solid #0e1111;
  }
  
  .card-content {
      padding:35px;
      flex-direction: row;
      width:60%;
      float: left;
  }
  
  .vigo-card span {
      display: inline-block;
      font-size: 24px;
      font-weight: 600;
  }
  .vigo-card .vigo {
      color: #0E1111;
  }   
  
  .vigo-card h3 {
      color: #000;
      font-size: 16px;
      margin-top: 14px;
      font-weight: 300;
      display:flex;
  }
  .vigo-card .arrow {
      display: flex;
      flex-direction: column;
      float:right;
      width:50%;
      align-items: center;
      justify-content: center;
     
      height: 40px;
      width: 40px;
      color: #000;
      border: 1px solid #000;
      border-radius: 50%;
      transition: 0.2s ease;
      position:relative;
      margin:55px 35px 55px 0px;
  }
  .vigo-card .card-item:hover .arrow  {
      background: #000;
      color: #fff; 
      transform: rotate(-35deg);
      transition: 0.2s ease;
  }
  
  .drio-card {
      display: grid;
      width:49.5%;
      float:right;
      margin-top: 30px;
  }
  .drio-card .card-item {
      background: #fff;
      border-radius: 45px;
      list-style: none;
      cursor: pointer;
      text-decoration: none;
      border: 1px solid #0E1111;
      transition: border 0.2s ease;
  }
  .drio-card .card-item:hover {
      background-color: #83F9B6;
      transition: 0.2s ease;
  }
  .drio-card .card-item img {
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 45px 45px 0px 0px;
      object-fit: cover;
      padding:0px;
      border-bottom:1px solid #0e1111;
  }
  
  .card-content {
      padding:35px;
      flex-direction: row;
      width:60%;
      float: left;
  }
  
  .drio-card span {
      display: inline-block;
      font-size: 24px;
      font-weight: 600;
  }
  .drio-card .drio {
      color: #0E1111;
  }   
  
  .drio-card h3 {
      color: #000;
      font-size: 16px;
      margin-top: 14px;
      font-weight: 300;
      display:flex;
  }
  .drio-card .arrow {
      display: flex;
      flex-direction: column;
      float:right;
      width:50%;
      align-items: center;
      justify-content: center;
     
      height: 40px;
      width: 40px;
      color: #000;
      border: 1px solid #000;
      border-radius: 50%;
      transition: 0.2s ease;
      position:relative;
      margin:55px 35px 55px 0px;
  }
  .drio-card .card-item:hover .arrow  {
      background: #000;
      color: #fff; 
      transform: rotate(-35deg);
      transition: 0.2s ease;
  }
  
  
  
  /* Footer */
  footer {
      width: 100%;
      height:auto;
      padding:35px;
  }
  
  .footer-box,
  .footer-box * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .footer-box {
    border-radius: 45px;
    border-style: solid;
    border-color: #0e1111;
    border-width: 1px;
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    flex-shrink: 0;
    height: auto;
    width: 100%;
    position: relative;
    float:left;
    margin-top:35px;
  }
  .footer-content {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    gap: 80px;
    margin-bottom:35px;
  }
  .footer-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 80%;
    height:auto;
    gap:30px;
  }
  .work-together {
    color: #0e1111;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    margin-top:40px;
  }
  .reach-out {
    color: #0e1111;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
  }
  
  .copyright {
      color:#0E1111;
      float:left;
      width:100%;
      opacity: 50%;
      padding:35px;
      margin-top:30px;
      font-size:14px;
      font-weight:200;
      text-align: center;
      position:relative;
      display:block;
      flex-direction: column;
  }
    
  
  
  
  
  
  /* MQ */
  @media screen and (min-width: 0px) and (max-width: 480px) {
      header {
          width:100%;
          height: auto;
      }
      .heading {
          padding:20px;
      }
      .logo{
          width: 30px;
          height:30px;
      }
      
      .kaline-yoo {
          font-size: 16px;
      }
      
      .heading {
          width: 100%;
          height: auto;
          padding:none;
      }
      
      .menu {
          display:none;
      }
      
      .hamburger {
          display: block;
          float: right;
         width: 30px;
         height:30px;
      }
      
    
      section {
          height:auto;
          padding: 25px;
      }
      
      .intro {
          border-radius: 45px;
          border-style: solid;
          border-color: #0e1111;
          border-width: 1px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: center;
          flex-shrink: 0;
          width: 100%;
          height: auto;
          position: relative;
          float:right;
        }
  
      .intro-content {
          width: 100%;
          gap: 50px;
      }
  
      .intro-text{
          width: 100%;
      }
      
      .hello {
          font-size: 18px;
      }
  
      .description {
          font-size: 12px;
      }
  
      .email {
          background: #7644db;
          border-radius: var(--corner-full, 100px);
          border-style: solid;
          border-color: #7644db;
          border-width: 2px;
          padding: 15px 10px 15px 10px;
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          width: 80px;
          height: 30px;
          position: relative;
      }
  
      .let-s-talk {
          color: #ffffff;
          text-align: left;
          font-family: "Poppins", sans-serif;
          font-size: 10px;
          font-weight: 600;
          position: relative;
        }
        
        
        .linkedin {
          border-radius: 30px;
          border-style: solid;
          border-color: #7644db;
          border-width: 2px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          width: 30px;
          height: 30px;
          position: relative;
          font-size: 16px;
          color: #7644db;
        }
        
        .instagram {
            border-radius: 30px;
            border-style: solid;
            border-color: #7644db;
            border-width: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            position: relative;
            font-size: 16px;
            color: #7644db;
        }
        
  
      .profile {
          border-radius: 45px;
          border-style: solid;
          border-color: #0e1111;
          border-width: 1px;
          background-color: #83F9B6;
          display: flex;
          align-items: left;
          justify-content: center;
          flex-shrink: 0;
          height: 200px;
          width: 100%;
          float: left;
          margin-top: 15px;
      }
      
      .profile img {
          width: 100%;
          height: 100%;
          object-fit: contain;
      }
  
  
      .availability,
  .availability * {
    box-sizing: border-box;
  }
  .availability {
    border-radius: 45px;
    border-style: solid;
    border-color: #0e1111;
    border-width: 1px;
    padding: 24px 30px 24px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: xwnr;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 15px;
    float: left;
  }
  .status {
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width:100%;
  }
  .circle {
    background: #83f9b6;
    border-radius: 50%;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    filter: blur(2px);
  }
  .open {
    color: #0e1111;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
  }
  
  .experience,
  .experience * {
    box-sizing: border-box;
  }
  .experience {
    border-radius: 45px;
    border-style: solid;
    border-color: #0e1111;
    border-width: 1px;
    padding: 24px 30px 24px 30px;
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    float: right;
    margin-top: 15px;
  }
  .experience-text {
    color: #0e1111;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    text-decoration-color: #0E1111;
  }
  
  .experience-text > p{
      text-decoration: underline;
      color: inherit;
  }
  
  .experience-text > p:hover {
      color: #7644db;
  }
  
  .card-content {
      padding:30px;
      flex-direction: row;
      width:70%;
      float: left;
  }
  
  
  .toaster-card {
      width:100%;
  }
  
  .card-content .toaster {
      font-size:16px;
  }
  
  .toaster-card h3 {
      font-size: 12px;
  }
  
  .toaster-card .arrow {
      display: flex;
      flex-direction: column;
      float:right;
      width:20%;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      color: #000;
      border: 1px solid #000;
      border-radius: 50%;
      transition: 0.2s ease;
      position:relative;
      margin:35px 30px 55px 0px;
  }
  
  .sloddy-card {
      width:100%;
  }
      
  .card-content .bowl {
      font-size:16px;
  }
  
  .sloddy-card h3 {
      font-size: 12px;
  }
  
  .sloddy-card .arrow {
      display: flex;
      flex-direction: column;
      float:right;
      width:20%;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      color: #000;
      border: 1px solid #000;
      border-radius: 50%;
      transition: 0.2s ease;
      position:relative;
      margin:35px 30px 55px 0px;
  }
  
  
  .vigo-card {
      width:100%;
  }
  
  .card-content .vigo {
      font-size:16px;
  }
  
  .vigo-card h3 {
      font-size: 12px;
  }
  
  .vigo-card .arrow {
      display: flex;
      flex-direction: column;
      float:right;
      width:20%;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      color: #000;
      border: 1px solid #000;
      border-radius: 50%;
      transition: 0.2s ease;
      position:relative;
      margin:35px 30px 55px 0px;
  }
  
  
  .drio-card {
      width:100%;
  }
      
  .card-content .drio {
      font-size:16px;
  }
  
  .drio-card h3 {
      font-size: 12px;
  }
  
  .drio-card .arrow {
      display: flex;
      flex-direction: column;
      float:right;
      width:20%;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      color: #000;
      border: 1px solid #000;
      border-radius: 50%;
      transition: 0.2s ease;
      position:relative;
      margin:35px 30px 55px 0px;
  }
  
  
  
  /* Clear floats after the columns */
      footer {
          height: auto;
          width:100%;
          padding:25px;
          margin-top: 15px;
      }
      
      .footer-box {
          border-radius: 45px;
          border-style: solid;
          border-color: #0e1111;
          border-width: 1px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: center;
          flex-shrink: 0;
          width: 100%;
          height: auto;
          position: relative;
          float:left;
          margin-top: 15px;
        }
  
      .footer-content {
          width: 100%;
          gap: 30px;
      }
  
      .footer-text{
          width: 100%;
      }
      
      .work-together {
          font-size: 18px;
      }
  
      .reach-out {
          font-size: 12px;
      }
  }
  
     
    
  
    
  
     
  
  
  
  
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
      
      
      
      .heading {
          width: 100%;
          height: auto;
      }
  
      .logoname{
          font-size: 14px;
      }
  
      
      
      .menu{
          display: block;
          text-align: center;
          display:none;
      }
      
      .hamburger {
          display: block;
          float: right;
          padding-top:5px;
      }
      
  
      section {
          height:auto;
          padding: 35px;
      }
      
      .intro {
          border-radius: 45px;
          border-style: solid;
          border-color: #0e1111;
          border-width: 1px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: center;
          flex-shrink: 0;
          width: auto;
          height: auto;
          position: relative;
        }
  
      .intro-content {
          width: 80%;
          gap: 50px;
      }
  
      .intro-text{
          width: 100%;
      }
      
      .hello {
          font-size: 18px;
      }
  
      .description {
          font-size: 14px;
      }
  
      .email {
          background: #7644db;
          border-radius: var(--corner-full, 100px);
          border-style: solid;
          border-color: #7644db;
          border-width: 2px;
          padding: 15px 10px 15px 10px;
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          width: 80px;
          height: 30px;
          position: relative;
      }
  
      .let-s-talk {
          color: #ffffff;
          text-align: left;
          font-family: "Poppins", sans-serif;
          font-size: 10px;
          font-weight: 600;
          position: relative;
        }
        
        
        .linkedin {
          border-radius: 30px;
          border-style: solid;
          border-color: #7644db;
          border-width: 2px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          width: 30px;
          height: 30px;
          position: relative;
          font-size: 16px;
          color: #7644db;
        }
        
        .instagram {
            border-radius: 30px;
            border-style: solid;
            border-color: #7644db;
            border-width: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            position: relative;
            font-size: 16px;
            color: #7644db;
        }
      
      .profile {
          border-radius: 45px;
          border-style: solid;
          border-color: #0e1111;
          border-width: 1px;
          background-color: #83F9B6;
          display: flex;
          align-items: left;
          justify-content: center;
          flex-shrink: 0;
          height: 200px;
          width: 100%;
          float: left;
          margin-top: 15px;
      }
      
      .profile img {
          width: 100%;
          height: 100%;
          object-fit: contain;
      }
  
      .availability,
      .availability * {
        box-sizing: border-box;
      }
      .availability {
        border-radius: 45px;
        border-style: solid;
        border-color: #0e1111;
        border-width: 1px;
        padding: 24px 30px 24px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: xwnr;
        flex-shrink: 0;
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 15px;
        float: left;
      }
      .status {
        display: flex;
        flex-direction: row;
        gap:20px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
        width:100%;
      }
      .circle {
        background: #83f9b6;
        border-radius: 50%;
        flex-shrink: 0;
        width: 10px;
        height: 10px;
        position: relative;
        filter: blur(2px);
      }
      .open {
        color: #0e1111;
        text-align: left;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 500;
        position: relative;
      }
      
      .experience,
      .experience * {
        box-sizing: border-box;
      }
      .experience {
        border-radius: 45px;
        border-style: solid;
        border-color: #0e1111;
        border-width: 1px;
        padding: 24px 30px 24px 30px;
        display: flex;
        flex-direction: row;
        gap: 18px;
        align-items: left;
        justify-content: left;
        flex-shrink: 0;
        width: 100%;
        height: auto;
        position: relative;
        float: right;
        margin-top: 15px;
      }
      .experience-text {
        color: #0e1111;
        text-align: left;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        text-decoration: none;
        text-decoration-color: #0E1111;
      }
      
      .experience-text > p{
          text-decoration: underline;
          color: inherit;
      }
      
      .experience-text > p:hover {
          color: #7644db;
      }
      
     
      .card-content {
          padding:24px;
          flex-direction: row;
          width:70%;
          float: left;
      }
      
      
      .toaster-card {
          width:100%;
      
          margin-top: 15px;
      }
      
      .card-content .toaster {
          font-size:16px;
      }
      
      .toaster-card h3 {
          font-size: 12px;
      }
      
      .toaster-card .arrow {
          display: flex;
          flex-direction: column;
          float:right;
          width:20%;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          color: #000;
          border: 1px solid #000;
          border-radius: 50%;
          transition: 0.2s ease;
          position:relative;
          margin:35px 20px 55px 0px;
      }
      
      .sloddy-card {
          width:100%;
          margin-top: 15px;
      }
          
      .card-content .bowl {
          font-size:16px;
      }
      
      .sloddy-card h3 {
          font-size: 12px;
      }
      
      .sloddy-card .arrow {
          display: flex;
          flex-direction: column;
          float:right;
          width:20%;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          color: #000;
          border: 1px solid #000;
          border-radius: 50%;
          transition: 0.2s ease;
          position:relative;
          margin:35px 20px 55px 0px;
      }
      
      
      .vigo-card {
          width:100%;
  
          margin-top: 15px;
      }
      
      .card-content .vigo {
          font-size:16px;
      }
      
      .vigo-card h3 {
          font-size: 12px;
      }
      
      .vigo-card .arrow {
          display: flex;
          flex-direction: column;
          float:right;
          width:20%;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          color: #000;
          border: 1px solid #000;
          border-radius: 50%;
          transition: 0.2s ease;
          position:relative;
          margin:35px 20px 55px 0px;
      }
      
      
      .drio-card {
          width:100%;
          margin-top: 15px;
      }
          
      .card-content .drio {
          font-size:16px;
      }
      
      .drio-card h3 {
          font-size: 12px;
      }
      
      .drio-card .arrow {
          display: flex;
          flex-direction: column;
          float:right;
          width:20%;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          color: #000;
          border: 1px solid #000;
          border-radius: 50%;
          transition: 0.2s ease;
          position:relative;
          margin:35px 20px 55px 0px;
      }
  
      footer {
          height: auto;
          width:100%;
          padding:35px;
          margin-top: 15px;
          
      }
      
      .footer-box {
          border-radius: 45px;
          border-style: solid;
          border-color: #0e1111;
          border-width: 1px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: center;
          flex-shrink: 0;
          width: 100%;
          height: auto;
          position: relative;
          float:left;
          margin-top: 15px;
        }
  
      .footer-content {
          width: 100%;
          gap: 30px;
      }
  
      .footer-text{
          width: 100%;
      }
      
      .work-together {
          font-size: 18px;
      }
  
      .reach-out {
          font-size: 14px;
      }
  
  
  }
     
  
  
      
   
  @media screen and (min-width: 769px) and (max-width: 1024px) {
      
      .heading {
          width: 100%;
          height: auto;
          padding:35px;
      }
  
      .logoname{
          font-size: 12px;
      }
      
      .menu{
          display: flex;
          text-align: left;
          gap:30px;
      }
  
      .work {
          font-size:14px;
      }
  
      .about {
          font-size:14px;
      }
      
      .contact {
          font-size:14px;
      }
      
      
      section {
          height:auto;
          padding: 35px;
      }
      
      .intro {
          border-radius: 45px;
          border-style: solid;
          border-color: #0e1111;
          border-width: 1px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: center;
          flex-shrink: 0;
          width: 59%;
          max-height: 300px;
          position: relative;
          float:left;
        }
  
      .intro-content {
          width: 100%;
          gap: 50px;
      }
  
      .intro-text{
          width: 100%;
      }
      
      .hello {
          font-size: 18px;
      }
  
      .description {
          font-size: 14px;
      }
  
      .email {
          background: #7644db;
          border-radius: var(--corner-full, 100px);
          border-style: solid;
          border-color: #7644db;
          border-width: 2px;
          padding: 15px 10px 15px 10px;
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          width: 80px;
          height: 30px;
          position: relative;
      }
  
      .let-s-talk {
          color: #ffffff;
          text-align: left;
          font-family: "Poppins", sans-serif;
          font-size: 10px;
          font-weight: 600;
          position: relative;
        }
        
        
        .linkedin {
          border-radius: 30px;
          border-style: solid;
          border-color: #7644db;
          border-width: 2px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          width: 30px;
          height: 30px;
          position: relative;
          font-size: 16px;
          color: #7644db;
        }
        
        .instagram {
            border-radius: 30px;
            border-style: solid;
            border-color: #7644db;
            border-width: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            position: relative;
            font-size: 16px;
            color: #7644db;
        }
  
        .profile {
          border-radius: 45px;
          border-style: solid;
          border-color: #0e1111;
          border-width: 1px;
          background-color: #83F9B6;
          display: flex;
          align-items: left;
          justify-content: center;
          flex-shrink: 0;
          height:300px;
          width: 40%;
          float: right;
          margin: 0px;
      }
      
      .profile img {
          width: 100%;
          height: 100%;
          object-fit: contain;
      }
  
      .availability {
          border-radius: 45px;
          border-style: solid;
          border-color: #0e1111;
          border-width: 1px;
          padding: 24px 30px 24px 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: xwnr;
          flex-shrink: 0;
          width: 25%;
          height: auto;
          position: relative;
          margin-top: 15px;
          float: left;
        }
  
      .circle {
          background: #83f9b6;
          border-radius: 50%;
          flex-shrink: 0;
          width: 10px;
          height: 10px;
          position: relative;
          filter: blur(2px);
        }
  
      .open {
          color: #0e1111;
          text-align: left;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: 500;
          position: relative;
        }
  
      .availability {
          width: 28%;
      }
      
      .status {
          gap: 15px;
      }
  
      .experience {
          width: 71%;
          margin-top:15px;
      }
      .experience-text {
          color: #0e1111;
          text-align: left;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: 500;
          position: relative;
          text-decoration: none;
          text-decoration-color: #0E1111;
        }
        
        .experience-text > p{
            text-decoration: underline;
            color: inherit;
        }
        
        .experience-text > p:hover {
            color: #7644db;
        }
        
  
      .experience-short {
          color: #0e1111;
          text-align: left;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: 500;
          position: relative;
          text-decoration: none;
          text-decoration-color: #0E1111;
          display:none;
      }
  
      
      .card-content {
          padding:24px;
          flex-direction: row;
          width:70%;
          float: left;
      }
      
      .toaster-card {
  
          margin-top: 15px;
      }
  
      
      .card-content .toaster {
          font-size:16px;
      }
      
      .toaster-card h3 {
          font-size: 12px;
      }
      
      .toaster-card .arrow {
          display: flex;
          flex-direction: column;
          float:right;
          width:20%;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          color: #000;
          border: 1px solid #000;
          border-radius: 50%;
          transition: 0.2s ease;
          position:relative;
          margin:35px 20px 55px 0px;
      }
      
      .sloddy-card {
  
          margin-top: 15px;
      }
          
      .card-content .bowl {
          font-size:16px;
      }
      
      .sloddy-card h3 {
          font-size: 12px;
      }
      
      .sloddy-card .arrow {
          display: flex;
          flex-direction: column;
          float:right;
          width:20%;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          color: #000;
          border: 1px solid #000;
          border-radius: 50%;
          transition: 0.2s ease;
          position:relative;
          margin:35px 20px 55px 0px;
      }
      
      .vigo-card {
  
          margin-top: 15px;
      }
  
    
      .card-content .vigo {
          font-size:16px;
      }
      
      .vigo-card h3 {
          font-size: 12px;
      }
      
      .vigo-card .arrow {
          display: flex;
          flex-direction: column;
          float:right;
          width:20%;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          color: #000;
          border: 1px solid #000;
          border-radius: 50%;
          transition: 0.2s ease;
          position:relative;
          margin:35px 20px 55px 0px;
      }
      
      .drio-card {
  
          margin-top: 15px;
      }
  
          
      .card-content .drio {
          font-size:16px;
      }
      
      .drio-card h3 {
          font-size: 12px;
      }
      
      .drio-card .arrow {
          display: flex;
          flex-direction: column;
          float:right;
          width:20%;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          color: #000;
          border: 1px solid #000;
          border-radius: 50%;
          transition: 0.2s ease;
          position:relative;
          margin:35px 20px 55px 0px;
      }
      
      .work-together {
          font-size: 18px;
      }
  
      .reach-out {
          font-size: 14px;
      }
  
      .footer-box {
          margin-top: 15px;
      }
  
     
  }
   
  @media screen and (min-width: 1025px) {
      
      
      section {
          height:auto;
      }
  
      .availability {
          width: 28%;
          padding-right:10px;
      }
  
      .experience {
          width: 71%;
          margin-top:30px;
          padding-left:50px;
          padding-right:50px;
      }
  
  
      
  
  }
      
  
  @media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
      }
    .overlay a {
        font-size: 20px
      }
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  
  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
  